[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apertium-streamparser = "*"
certifi = "*"
chardet = "*"
idna = "*"
requests = "*"
tornado = "*"
"urllib3" = "*"
commentjson = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
docopt = "*"
flake8-commas = "*"
flake8-quotes = "*"
flake8 = "*"
idna = "*"
mccabe = "*"
mypy = "0.580"
pep8-naming = "*"
pycodestyle = "*"
pyflakes = "*"
typed-ast = "*"

[requires]
python_version = "3.7"
