[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apertium-streamparser = "*"
certifi = "*"
chardet = "*"
idna = "*"
requests = "*"
tornado = "*"
"urllib3" = "*"
commentjson = "*"

[dev-packages]

[requires]
python_version = "3.7"
