[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apertium-streamparser = "*"
chardet = "*"
requests = "*"
tornado = "==6.0.3"
commentjson = "*"
lxml = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
flake8-commas = "*"
flake8-quotes = "*"
flake8 = "*"
mypy = "*"
pep8-naming = "*"
twine = "*"
types-requests = "*"
types-chardet = "*"
