-r requirements.txt
coverage==4.5.1
coveralls==1.3.0
docopt==0.6.2
flake8-commas==2.0.0
flake8-polyfill==1.0.2
flake8-quotes==0.14.0
flake8==3.5.0
idna==2.6
mccabe==0.6.1
mypy==0.580 ; python_version >= '3.5' # we DO NOT want the typing backport
pep8-naming==0.5.0
pycodestyle==2.3.1
pyflakes==1.6.0
typed-ast==1.1.0
